/*COOKIE CONSENT*/
.cookieConsent {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .9);
}

.cookieConsent .container {
    padding: 30px 0;
}

.cookieConsent p {
    margin-top: 0;
    margin-bottom: 15px;
    color: #FFF;
    font-size: var(--font-small);
}

.cookieConsent p a {
    color: var(--color-green);
    font-weight: var(--weight-bold);
    text-decoration: none;
    transition-duration: var(--hover-duration);
}

.cookieConsent .footer_optout_btn {
    padding: 12px 24px;
    font-size: var(--font-normal);
    font-weight: var(--weight-bold);
}

.cookieConsent .gradient-red {
    margin-left: 20px;
}